@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Rock+Salt&display=swap');

body {
  margin: 0;
  background-color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Jaldi', sans-serif;
}
.wrapper {
  background-image: url(/public/img/space-backgroung-big.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 1353px;
  height: auto;
  margin: 50px 0 50px;
  border-radius: 40px;
}
.header {
  width: 100%;
  height: 428px;
  background-image: url(/public/img/wave.svg);
  background-position: center;
  display: flex;
  justify-content: center;
}
.header__container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 152px;
  height: 152px;
  margin-top: 50px;
}
.header__quote {
  display: flex;
  margin-top: 50px;
}
.header__marcus {
  width: 190px;
  height: 250px;
  transform: rotate(-20deg);
  opacity: 0.5;
}
.header__text-fone {
  width: 500px;
  height: 160px;
  background-color: rgba(203, 108, 230, 0.1);
  margin-top: 110px;
  border-radius: 40px 0 40px 40px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.header__quote-text {
  margin: 0;
  font-size: 20px;
}
.header__quote-autor {
  margin: 10px 0 0;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
.todo-container {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* таймер */
.timer {
  width: 180px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer-time {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 49px;
}

/* инпут */
.todo-input {
  border: none;
  padding: 0;
  width: 285px;
  height: 40px;
  background-color: rgba(203, 108, 230, 0.17);
  border-radius: 10px;
  margin-top: 30px;
  padding-left: 10px;
  caret-color: #ffffff;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s ease-in-out;
}
.todo-input:hover {
  box-shadow: 0px 0px 8px rgba(203, 108, 230, 1);
}
.todo-input::placeholder {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s ease-in-out;
}
.todo-input:hover::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.todo-input:focus {
  outline: none;
}

/* tasks */
.todo-tasks {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-task {
  width: 295px;
  height: 40px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  transition: 0.5s ease-in-out;
  overflow: auto;
}
.todo-task:hover {
  width: 375px;
  height: 100px;
}
.todo-task p {
  transition: 0.5s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}
.todo-task:hover p {
  white-space: normal;
}

.todo-text {
  max-width: 170px;
  margin: 7px 8px 0;
}
.tasks-done {
  margin-top: 30px;
}

/* кнопки в task */
.todo-buttons {
  display: flex;
}
.remove-task {
  background-image: url(/public/img/remove.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 18px;
  margin: 8px;
  margin-top: 10px;
  padding: 0;
}
.time-play {
  background-image: url(/public/img/clock.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 0;
}
.time-stop {
  background-image: url(/public/img/pause.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 0;
}
.task-done {
  background-image: url(/public/img/done.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 0;
}
