@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Rock+Salt&display=swap');

body {
  margin: 0;
  background-color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Jaldi', sans-serif;
}
.wrapper {
  background-image: url(/public/img/space-backgroung-big.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 93vw;
  max-width: 2000px;
  height: auto;
  margin: 50px 0 50px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}
.header {
  width: 100%;
  background-image: url(/public/img/wave.svg);
  background-position: top;
  background-size: 101%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 15%;
}
.header__container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 152px;
  height: 152px;
  margin-top: 50px;
}
.header__quote {
  display: flex;
  margin-top: 50px;
}
.header__marcus {
  width: 190px;
  height: 250px;
  transform: rotate(-20deg);
  opacity: 0.5;
}
.header__text-fone {
  width: 500px;
  height: 160px;
  background-color: rgba(203, 108, 230, 0.1);
  margin-top: 110px;
  border-radius: 40px 0 40px 40px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.header__text-fone:hover {
  background-color: rgba(203, 108, 230, 0.2);
}
.header__quote-text {
  margin: 0;
  font-size: 20px;
  max-height: 100px;
  overflow: auto;
}
.header__quote-autor {
  margin: 10px 0 0;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.todo-container {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid rgba(203, 108, 230, 0.17);
  height: fit-content;
}
/* таймер */
.timer {
  width: 180px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.timer p {
  margin: 0;
}
.timer:hover .timer__remove-timer {
  transform: translateY(-120%);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
}

.timer:hover .timer__remove-all {
  transform: translateY(-240%);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
}
.timer:hover .timer__remove-all:hover,
.timer:hover .timer__remove-timer:hover {
  background-color: rgba(57, 55, 55, 0.5);
  color: rgba(255, 255, 255, 1);
}
.timer-time {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 49px;
}
.timer__remove-timer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  top: 0;
  padding: 0 7px;
  border-radius: 7px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.timer__remove-all {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  padding: 0 7px;
  top: 0;
  left: auto;
  border-radius: 7px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

/* инпут */
.todo-input {
  border: none;
  padding: 0;
  width: 285px;
  height: 40px;
  background-color: rgba(203, 108, 230, 0.17);
  border-radius: 10px;
  margin-top: 30px;
  padding-left: 10px;
  caret-color: #ffffff;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s ease-in-out;
}
.todo-input:hover {
  box-shadow: 0px 0px 8px rgba(203, 108, 230, 1);
}
.todo-input::placeholder {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s ease-in-out;
}
.todo-input:hover::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.todo-input:focus {
  outline: none;
}

/* tasks */
.todo-tasks {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-container {
  display: flex;
  position: relative;
}
.todo-task {
  width: 295px;
  min-height: 40px;
  max-height: 1em;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  transition: 0.5s ease-in-out;
  overflow: auto;
  position: relative;
}
.todo-task:hover {
  width: 375px;
  max-height: 100px;
}

.todo-task p {
  max-width: 220px;
  margin: 8px;
  margin-left: 15px;
  transition: 0.5s ease-in-out;
}
.todo-task:hover p {
  transform: translate(70px);
}

.tasks-done {
  margin-top: 30px;
  margin-bottom: 100px;
}
.todo-task_completed {
  background-color: rgba(34, 69, 40, 0.5);
}

/* кнопки в task */
.todo-buttons {
  display: flex;
  position: absolute;
  right: 10px;
}

.remove-task {
  background-image: url(/public/img/remove.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 18px;
  margin: 8px;
  margin-top: 10px;
  padding: 0;
  position: absolute;
  left: 10px;
  cursor: pointer;
}
.remove-task:hover {
  opacity: 0.8;
}
.time-play {
  background-image: url(/public/img/clock.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
}
.time-play:hover {
  opacity: 0.8;
}
.time-stop {
  background-image: url(/public/img/pause.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
}
.time-stop:hover {
  opacity: 0.8;
}
.task-done {
  background-image: url(/public/img/done.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
}
.task-done:hover {
  opacity: 0.8;
}
.task-timer {
  font-size: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
  right: 10px;
  top: 7px;
}
.task-container h1 {
  transition: 0.5s ease-in-out;
}
.task-container:hover h1 {
  transform: translate(70px);
}
/* корова */
.space-cow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: fit-content;
  transform: translate(0vw, 0vw) rotate(0deg);
  animation: spin-move 180s linear infinite;
}
@keyframes spin-move {
  0% {
    transform: translate(60vw, -60vw) rotate(0deg);
  }
  5% {
    transform: translate(30vw, -30vw) rotate(200deg);
  }
  10% {
    transform: translate(0vw, 0vw) rotate(400deg);
  }
  15% {
    transform: translate(-30vw, 30vw) rotate(600deg);
  }
  20% {
    transform: translate(-60vw, 60vw) rotate(800deg);
  }
  25% {
    transform: translate(60vw, 60vw) rotate(1000deg);
  }
  30% {
    transform: translate(30vw, 30vw) rotate(800deg);
  }
  35% {
    transform: translate(0vw, 0vw) rotate(600deg);
  }
  40% {
    transform: translate(-30vw, -30vw) rotate(400deg);
  }
  45% {
    transform: translate(-60vw, -60vw) rotate(200deg);
  }
  50% {
    transform: translate(-60vw, 60vw) rotate(0deg);
  }
  55% {
    transform: translate(-30vw, 30vw) rotate(200deg);
  }
  60% {
    transform: translate(0vw, 0vw) rotate(400deg);
  }
  65% {
    transform: translate(30vw, -30vw) rotate(600deg);
  }
  70% {
    transform: translate(60vw, -60vw) rotate(800deg);
  }
  75% {
    transform: translate(-60vw, -60vw) rotate(1000deg);
  }
  80% {
    transform: translate(-30vw, -30vw) rotate(800deg);
  }
  85% {
    transform: translate(0vw, 0vw) rotate(600deg);
  }
  90% {
    transform: translate(30vw, 30vw) rotate(400deg);
  }
  100% {
    transform: translate(60vw, 60vw) rotate(200deg);
  }
}

/* музыка */
.music-box iframe {
  height: 350px;
  opacity: 0.7;
  margin-bottom: 30px;
}

/* подвал */
.footer {
  margin-top: 50px;
  height: 50px;
  width: 90%;
  margin-left: 5%;
}
.copyright {
  margin-top: 25px;
  font-family: 'Rock Salt', cursive;
  font-size: 12px;
  text-decoration: underline;
  color: white;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.copyright:hover {
  color: rgb(254, 206, 255);
}

@media screen and (max-width: 1500px) {
  .header {
    padding-bottom: 10%;
  }
  .header__text-fone {
    width: 420px;
    height: 110px;
  }
  .header__marcus {
    width: 150px;
    height: fit-content;
  }
}
@media screen and (max-width: 1250px) {
  .header__text-fone {
    width: 350px;
  }
  .header__marcus {
    width: 130px;
  }
  .header {
    padding-bottom: 8%;
    background-size: 300%;
  }
}
@media screen and (max-width: 950px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }
  .header {
    padding-bottom: 15%;
    background-size: 400%;
  }
}
@media screen and (max-width: 600px) {
  .header__quote {
    height: ;
  }
  .header__text-fone {
    width: 250px;
    font-size: 12px;
    margin-top: 0%;
    margin-right: 10px;
  }
  .header__quote-text {
    font-size: 14px;
  }
  .header__marcus {
    width: 70px;
  }
  .header__logo {
    width: 100px;
    height: fit-content;
  }
}
